@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

body,
html {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  height: 100vh;
}

.logo {
  width: 50px;
  height: auto;
  place-self: center;
}

.icon {
  width: 25px;
  height: auto;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #333652;
  grid-row: 1/3;
  align-items: start;
  color: white;
  padding: 20px;
}

.sidebar .nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1/-1;
  row-gap: 40px;
}

.sidebar .branding {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1/-1;
  align-items: center;
}
.sidebar .navigation {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1/-1;
  row-gap: 40px;
}

.sidebar .links-nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1/-1;
}

.sidebar .links-help {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 4fr;
}

.sidebar .icons-nav,
.sidebar .icons-help {
  display: grid;
  place-self: center;
}

.sidebar .names-nav,
.sidebar .names-help,
.title {
  margin-left: 5px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul {
  display: grid;
  align-items: center;
  row-gap: 14px;
}

.sidebar li {
  font-weight: 700;
}

.header {
  background-color: #e9eaec;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px 45px;
  row-gap: 20px;
}

.header .search-bar {
  grid-template-columns: max-content auto;
  display: grid;
  column-gap: 10px;
  align-items: center;
  font-size: 30px;
}

.header #search {
  justify-self: start;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #90adc6;
  font-size: 1rem;
  text-indent: 10px;
}

.header #search:focus,
#search:active {
  outline: none;
}

.profile-small {
  height: 50px;
  width: auto;
}

.header .profile-large {
  height: 75px;
  width: auto;
}

.header .greetings {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 20px;
  justify-items: start;
  align-items: center;
  font-weight: 600;
}

.header .name {
  font-weight: 600;
}

.header span p:nth-child(1) {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.header span p:nth-child(2) {
  font-size: 1.3rem;
}

.buttons .new,
.upload,
.share {
  background-color: #333652;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.header .user-info,
.header .buttons {
  display: grid;
  grid-template-columns: auto max-content max-content;
  column-gap: 25px;
  justify-self: right;
  place-items: center;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #90adc6;
  padding: 25px 15px;
  align-items: start;
  column-gap: 20px;
  row-gap: 40px;
}

.main-content .projects {
  display: grid;
  row-gap: 15px;
  grid-row: 1/3;
}

.main-content .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}

.main-content .project {
  width: auto;
  height: 250px;
  background-color: #e9eaec;
  border-left: 8px solid #333652;
  border-radius: 10px;
  padding: 40px 30px;
  display: grid;
  grid-template-rows: max-content max-content auto;
}

.main-content .project-icons {
  align-self: end;
  justify-self: end;
  display: grid;
  grid-template-columns: auto max-content max-content;
  column-gap: 15px;
}

.main-content .announcements-wrapper {
  display: grid;
  row-gap: 15px;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.main-content .trending-wrapper {
  display: grid;
  row-gap: 15px;
  height: 100%;
  grid-template-rows: max-content auto;
}

.main-content .trending {
  height: 100%;
  width: auto;
  background-color: #e9eaec;
  border-radius: 10px;
  padding: 40px 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 15px;
  row-gap: 20px;
  align-items: center;
}

.main-content .announcements {
  width: auto;
  background-color: #e9eaec;
  border-radius: 10px;
  padding: 40px 30px;
  display: grid;
  align-items: center;
  grid-row: 20px;
}

.trends p:first-child {
  font-weight: bold;
}

.announcements p {
  font-size: 0.8rem;
}
